.container{
	max-width: 800px;
	margin: auto;
	padding: 20px;
	font-family: arial, sans-serif;
}
h1{
	text-align: center;
	margin-top: 0;
}
img{
	display:block;
	margin: auto;
	max-width:300px ;
	height: auto;
	
}
.info{
	margin-top: 20px;
}
h2{
	font-size: 20px;
	margin-top: 30px;
}
P{
	margin: 10px 0;
}
ul{
	margin: 0;
	padding: 0 0 0 20px;
}
li{
	margin: 5px 0;
}